<div class="changePassword-container">

  <button pButton type="button" (click)="onPokemonsClick()" class="back-btn p-button-raised" label="View all Pokémons"></button>

  <div class="changePassword-container__form-container">
    <h2>Change password</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="form-input">
        <label for="password">Password</label>
        <input type="password" pInputText id="password" name="password" formControlName="password" placeholder="Enter password" autocomplete="off" />
      </div>
      <div class="form-input">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" pInputText id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" placeholder="Enter the password again" autocomplete="off" />
      </div>
      <button pButton type="submit" class="p-button-raised p-button-rounded" label="Change" [disabled]="form.invalid"></button>
    </form>

  </div>
  
  <p-messages></p-messages>

</div>

<app-footer></app-footer>
